<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
        }
        header {
            background: #333;
            color: #fff;
            padding-top: 30px;
            min-height: 70px;
            border-bottom: #77aaff 3px solid;
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 18px;
            text-align: left;
        }
        table thead tr {
            background-color: #333;
            color: #ffffff;
            text-align: left;
            font-weight: bold;
        }
        table th, table td {
            padding: 12px 15px;
        }
        table tbody tr {
            border-bottom: 1px solid #dddddd;
        }
        table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }
        table tbody tr:last-of-type {
            border-bottom: 2px solid #333;
        }

        #delete_button {
            background-color: rgb(206, 83, 83);
            border: none;
            color: white;
            padding: auto;
            border-radius: 2%;
    }


        #search_user {
            margin-left: 10%;
            margin-top: 3%;
               width: 80%;
               padding: auto;

           }

           .pagination{

                margin-left: 10%;

               width: 80%;
           }



    </style>
</head>
<body>
    <header>
        <div class="container">
            <h1>User List</h1>
        </div>
    </header>

    <div>
    <div id="search_user">

        <form action="/peasy/users" method="get"> <input type="text" name="user_search_query" value="{{query_name}}" placeholder=" Search User">
            <input type="submit" value="Search">
        </form>
        </a>
    </div>
</div>


    <div class="container">
        <table>
            <thead>

                <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
                <th>City</th>
                <th> Gender </th>
                <th>Action</th>

                </tr>
            </thead>
            <tbody>
            {% for user in data.users %}
            <tr>
                <td>  {{ user.name.first }} </td>
                <td> {{ user.name.last] }} </td>
                <td> {{  user.age }} </td>
                <td> {{  user.location.city }}</td>
                <td> {{  user.gender }} </td>
               
        
          <td> 
          <form action="/peasy/users" method="post" >
          <%= button_tag "remove", id: "delete_button",  type: 'submit', name: "user_id", value: "{{user.id}}" %> 
          </form > 
          </td>
          </tr>
        
          {% endfor %}

            </tbody>
        </table>
    </div>

    <div class="pagination" >
<span style="font-family: Georgia, 'Times New Roman', Times, serif;" > Tota Users: {{data.total_count}}, Page: {{data.current_page}}/{{data.total_page}}
  <form action="/peasy/users" method="get">
    <input type="number" name="page" min="1" value = "{{page}}">
    <input type="submit" value="Search">
  </form>
  </span>

</div>


</body>
</html>
