
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Page</title>
</head>


<body>
<div>
<div>
<h2> Users List </h2>


<table>
<tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>City</th>
        <th>Action</th>

</tr>

  {% for user in data.users %}
    <tr>
        <td>  {{ user.name.first }} </td>
        <td> {{ user.name.last] }} </td>
        <td> {{  user.age }} </td>
        <td> {{  user.location.city }}</td>
        <td>   <form  action="/users" method="post">
        <form action="/users" method="get">
    <button type="submit" value= "{{user.id}}" >Delete</button>
  </form> 
  </td>
    </tr>

  {% endfor %}
</table>
</div>

<div>
<a> Tota Users: {{data.total_count}}, Page: {{data.current_page}}/{{data.total_page}}</a>
<a>

  <form action="/peasy/users" method="get">
    <input type="text" name="query" value = "{{name}}">
    <input type="number" name="page" value = "{{page}}">
    <input type="submit" value="Search">
  </form>
  
   </a>

</div>
</div>



</body>
</html>